<% include ../partials/header %>

<div class="container">
    <div class="row">
        
        <div class="col-md-3">
            <p class="lead">YelpLakes</p>
            <!--map-->
        </div>
        
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%=lake.image %>">
                <div class="caption-full">
                    <h4 class="pull-right">$9.00/night</h4>
                    <h4><a><%=lake.name%></a></h4>
                    <p><%=lake.description%></p>

                    
                    <p>
                        <em>Submitted by: <%= lake.author.username%> 
                        </em>
                    </p>
                    
  
                            
                        
                        <a class="btn btn-warning" href="/lakes/<%= lake._id %>/edit">Edit</a>

                        <form class="delete-form" action="/lakes/<%= lake._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>

                    
                </div>
            </div>
            
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/lakes/<%=lake._id%>/comments/new">Add New Comment</a>
                </div>
                <br>
                <% lake.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%=comment.author.username %></strong>
                            <span class="pull-right">10 days ago</span>
                        </div>
                        <p><%= comment.text %></p>
                        <% }) %>
                    </div>

            </div>
        </div>
        
    </div>
</div>


<% include ../partials/footer %>